header.main-header{
    display:flex;
    flex-direction: column;
    height: 144px;
    box-sizing: border-box;
}

header.header-collapsed {
  height: calc(144px - 64px); /* Si no hay nav-bar se resta la altura de este */
  transition: width 0.3s ease;
  box-shadow: 0 1px 3px rgba(128, 128, 128, 0.5);
}

header.top-header{
    width: 100%;
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0px 5% 0px 5%;
    height: 80px;
    box-sizing: border-box;
    color: white;
}

.logo {
  padding-left: 8px;
  max-width: 100%;
  max-height: 60px; /* El máximo alto del logo será igual a la altura del header */
  height: auto;
  object-fit: contain; /* Asegura que el logo se ajuste dentro de su contenedor manteniendo su proporción */
}

.welcome-aside{
    width: 200px;
}

.profile-button {
  background-color: rgba(0, 0, 0, 0); /* Fondo con baja opacidad */
  border: none; /* Sin borde */
  outline: none; /* Sin borde de enfoque */
  padding: 0; /* Quitar el padding del botón */
  margin: 0; /* Quitar el margin */
  border-radius: 50%; /* Borde redondeado para que sea circular */
  display: inline-flex; /* Alinear contenido del botón */
  align-items: center;
  justify-content: center;
  width: 46px; /* Ajusta el tamaño según tus necesidades */
  height: 46px;
  cursor: pointer; /* Cambia el cursor al de puntero */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de opacidad */
}

.profile-button:hover {
  background-color: rgba(0, 0, 0, 0.2); /* Aumenta la opacidad al hacer hover */
}

.user-name {
  margin-right: auto; /* Empuja el botón de logout al final */
  max-width: 200px; /* Limita el ancho del nombre */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logout-button {
  margin-left: 3px;
  background: transparent; /* Fondo del botón transparente */
  border: 2px solid transparent; /* Borde transparente para que no afecte el tamaño del botón */
  border-radius: 50%; /* Hace que el botón tenga forma de círculo */
  padding: 6px; /* Ajusta el tamaño del área de clic */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de borde */
}

.user-image {
  width: 32px; /* Ajusta el tamaño según tus necesidades */
  height: 32px;
  border-radius: 50%; /* Hace que la imagen sea circular */
}
  
  .logout-button:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Cambia el color del borde al hacer hover (con opacidad) */
  }
  
  .logout-button .center mat-icon {
    color: white; /* Color del ícono */
  }
  
  .logout-button:focus {
    outline: none; /* Elimina el contorno de enfoque del botón */
  }