
<header [ngClass]="{'header-collapsed': !navigation}" class="main-header">
    <header class="top-header">
        <img [src]="logoUrl" alt="Logo" class="logo">
        <aside class="space-between welcome-aside">
            <span class="user-name">
                {{(user && user.nombre) ?  'Bienvenido, '+user.nombre :  'Bienvenido'  }}. 
            </span>
            <button mat-icon-button class="logout-button" (click)="logout()">
                <div class="center">
                    <mat-icon>logout</mat-icon>
                </div>
              </button>
        </aside>
    </header>
    <app-nav-bar [navigation]="navigation" [hidden]="!navigation"></app-nav-bar>
</header>


