<section class="product-configurator">
    <h1>Creación de tipo de producto</h1>
    <main class="content-block new-product-form">
        <form (ngSubmit)="crearTipoProducto()" enctype="multipart/form-data">
          <header class="form-header">
          <h2>Descripción del producto</h2>
          <hr>
          <div class="space-between">
            <div>
              <label for="nombre_producto">Nombre del producto</label>
              <input type="text" class="nombre-producto" [(ngModel)]="nombreProducto" name="nombreProducto" placeholder="Escriba aquí el nombre del nuevo producto">
            </div>
            <div>
              <label for="nombre_producto">Letras de identificación</label>
              <input type="text" class="nombre-producto" [(ngModel)]="letrasIdentificacion" name="letrasIdentificacion" placeholder="Escriba aquí las letras de identificación">
            </div>
            <div>
              <input type="file" class="file-input" accept=".xls, .xlsx, .xlsm, .xlsb, .csv"
                (change)="onFileSelected($event)" #fileUpload>

                <div class="file-upload">

                {{fileName || "No has añadido ninguna plantilla aún."}}

                  <button type="button" mat-mini-fab color="primary" class="upload-btn"
                    (click)="fileUpload.click()">
                      <mat-icon>attach_file</mat-icon>
                  </button>
                </div>
            </div>
          </div>
          </header>

          <h2>Datos generales</h2>
          <hr>
          <div class="overflow-scroll">
          <table class="table">
            <thead>
              <tr>
                <th class="col-nombre">Nombre del campo</th>
                <th class="col-tipo-dato">
                  <div class="center">
                    Tipo de Dato
                  </div>
                </th>
                <th class="col-posicion">
                  <div class="center">
                    Posición en el Certificado
                  </div>
                </th>
                <th class="col-visible">
                  <div class="center">
                    Visible en la tabla
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              @for (campoGeneral of camposGenerales; track $index) {
                <tr>
                  <td class="col-nombre">
                    <div class="center">
                      <input type="text" [placeholder]="campoGeneral.nombre" [(ngModel)]="campoGeneral.nombre" name="nombreGeneral{{$index}}" disabled>
                    </div>
                  </td>
                  <td class="col-tipo-dato">
                    <div class="center div-select">
                      <select [(ngModel)]="campoGeneral.tipoDato" name="tipoDatoGeneral{{$index}}" disabled>
                        @for(tipo of tiposDato ; track $index) {
                          <option value="{{tipo.value}}">{{tipo.nombre}}</option>
                        }
                      </select>
                    </div>
                  </td>
                  <td class="col-posicion">
                    <div class="center" style="gap:4px;">
                      <div class="small-input">
                        <input type="text" placeholder="Columna" [(ngModel)]="campoGeneral.columna" name="columna{{$index}}">
                      </div>
                      <div class="small-input">
                        <input type="text" placeholder="Fila" [(ngModel)]="campoGeneral.fila" name="fila{{$index}}">
                      </div>
                    </div>
                  </td>
                  <td class="col-visible">
                    <div class="center">
                      <mat-checkbox [(ngModel)]="campoGeneral.visible" name="visibleGeneral{{$index}}"></mat-checkbox>
                    </div>
                  </td>
                </tr>                
              }
            </tbody>
          </table>
          </div>

          <h2>Datos del asegurado</h2>
          <hr>
          <div class="overflow-scroll">
          <table class="table">
            <thead>
              <tr>
                <th class="col-nombre">Nombre del campo</th>
                <th class="col-tipo-dato">
                  <div class="center">
                    Tipo de Dato
                  </div>
                </th>
                <th class="col-posicion">
                  <div class="center">
                    Posición en el Certificado
                  </div>
                </th>
                <th class="col-visible">
                  <div class="center">
                    Visible en la tabla
                  </div>
                </th>
                <th class="col-obligatorio">
                  <div class="center">
                    Obligatorio
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              @for (campoFijo of camposAsegurado; track $index) {
                <tr>
                  <td class="col-nombre">
                    <div class="center">
                      <input type="text" [placeholder]="campoFijo.nombre" [(ngModel)]="campoFijo.nombre" name="nombreFijo{{$index}}" disabled>
                    </div>
                  </td>
                  <td class="col-tipo-dato">
                    <div class="center div-select">
                      <select [(ngModel)]="campoFijo.tipoDato" name="tipoDatoFijo{{$index}}" disabled>
                        @for(tipo of tiposDato ; track $index) {
                          <option value="{{tipo.value}}">{{tipo.nombre}}</option>
                        }
                      </select>
                    </div>
                  </td>
                  <td class="col-posicion">
                    <div class="center" style="gap:4px;">
                      <div class="small-input">
                        <input type="text" placeholder="Columna" [(ngModel)]="campoFijo.columna" name="columna{{$index}}">
                      </div>
                      <div class="small-input">
                        <input type="text" placeholder="Fila" [(ngModel)]="campoFijo.fila" name="fila{{$index}}">
                      </div>
                    </div>
                  </td>
                  <td class="col-visible">
                    <div class="center">
                      <mat-checkbox [(ngModel)]="campoFijo.visible" name="visibleFijo{{$index}}"></mat-checkbox>
                    </div>
                  </td>
                  <td class="col-obligatorio">
                    <div class="center">
                      <mat-checkbox [(ngModel)]="campoFijo.obligatorio" name="obligatorioFijo{{$index}}"></mat-checkbox>
                    </div>
                  </td>
                </tr>                
              }
            </tbody>
          </table>
          </div>
          <h2>Datos variables</h2>
          <hr>
          <div class="overflow-scroll flexible">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-nombre">Nombre del campo</th>
                  <th class="col-tipo-dato">
                    <div class="center">
                      Tipo de Dato
                    </div>
                  </th>
                  <th class="col-posicion">
                    <div class="center">
                      Posición en el Certificado
                    </div>
                  </th>
                  <th class="col-visible">
                    <div class="center">
                      Visible en la tabla
                    </div>
                  </th>
                  <th class="col-obligatorio">
                    <div class="center">
                      Obligatorio
                    </div>
                  </th>
                  <th class="col-eliminar">
                    <div class="center">
                      Eliminar
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                @for (campo of campos; track $index) {
                  <tr>
                    <td class="col-nombre">
                      <div class="center">
                        <input type="text" placeholder="Nombre" [(ngModel)]="campo.nombre" name="nombre{{$index}}" >
                      </div>
                    </td>
                    <td class="col-tipo-dato">
                      <div class="center div-select">
                        <select [(ngModel)]="campo.tipoDato" name="tipoDato{{$index}}">
                          @for(tipo of tiposDato ; track $index) {
                            <option value="{{tipo.value}}">{{tipo.nombre}}</option>
                          }
                        </select>
                      </div>
                    </td>
                    <td class="col-posicion">
                      <div class="center" style="gap:4px;">
                        <div class="small-input">
                          <input type="text" placeholder="Columna" [(ngModel)]="campo.columna" name="columna{{$index}}">
                        </div>
                        <div class="small-input">
                          <input type="text" placeholder="Fila" [(ngModel)]="campo.fila" name="fila{{$index}}">
                        </div>
                      </div>
                    </td>
                    <td class="col-visible">
                      <div class="center">
                      <mat-checkbox [(ngModel)]="campo.visible" name="visible{{$index}}"></mat-checkbox>
                      </div>
                    </td>
                    <td class="col-obligatorio">
                      <div class="center">
                        <mat-checkbox [(ngModel)]="campo.obligatorio" name="obligatorio{{$index}}"></mat-checkbox>
                      </div>
                    </td>
                    <td class="col-eliminar">
                      <div class="center">
                        <button mat-icon-button color="warn" (click)="eliminarCampo($index)">
                          <mat-icon>delete</mat-icon>
                        </button> 
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
          <button type="button" class="add-field" (click)="agregarCampo()">
            Agregar Nuevo Campo
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
            </svg>
          </button>
          <footer class="form-footer">
            <button>Crear nuevo tipo de producto</button>
          </footer>
        </form>
    </main>
</section>