.download-icon, .delete-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  margin: 3px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease; /* Animación de transformación */
}

.download-icon {
  background-color: rgb(72, 72, 231);
}

.delete-icon {
  background-color: rgb(231, 72, 72);
}

.loader {
  position: absolute;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 3px solid white;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  z-index: 1;
  visibility: hidden;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mat-icon {
  z-index: 2;
  font-size: 24px;
  transition: transform 0.3s ease; /* Animación de transformación */
}

/* Estilos cuando se muestra el loader */
.download-icon.active .mat-icon {
  transform: scale(0.7); /* Reduce el tamaño del icono */
}

.download-icon.active .loader {
  visibility: visible;
}
