<div class="reset-pwd-container">
    <h1>Recuperación de la contraseña</h1>
    <form [formGroup]="resetPwdForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" formControlName="email" class="form-control" />
            <small class="text-danger">
                <!-- Verificar si el campo de email es inválido y ha sido tocado -->
                <ng-container *ngIf="resetPwdForm.get('email')?.touched || resetPwdForm.get('email')?.dirty">
                <!-- Verificar si el campo es requerido -->
                <div *ngIf="resetPwdForm.get('email')?.errors?.['required']" class="text-msg danger">
                    El email es requerido
                </div>
                <!-- Verificar si el formato del email es incorrecto -->
                <div *ngIf="resetPwdForm.get('email')?.errors?.['email']" class="text-msg danger">
                    El formato del email no es correcto
                </div>
                </ng-container>
            </small>
        </div>
        <p class="msg">Le enviaremos un correo con un boton de redirección para poder cambiar la contraseña</p>
        <small class="text-msg success text-center" *ngIf="successMessage">{{ successMessage }}</small>
        <small class="text-msg danger text-center" *ngIf="!successMessage && errorMessage">{{ errorMessage }}</small>
        <div class="a-link-container">
            <a class=a-link [routerLink]="[loginRoute]" href="">Iniciar sesión</a>
        </div>
        <button type="submit" class="btn btn-primary">
            @if(loadingResetPwd){
                <div class="spinner"></div>
            } @else {
            Enviar correo de recuperación
            }
      </button>
    </form>
  </div>