.anexos-configurator{
    padding: 40px 90px;
    background-color: var(--main-bg-color);
}

.new-anexo-form{
    padding:40px;
    margin-bottom: 100px;
}

.form-header{
    margin-bottom: 40px;
  }
  
  .flex-start{
    gap: 80px;
  }

  hr{
    margin-top: 8px;
  }
  
  .file-input {
    display: none;
  }
  
  input.nombre-producto{
    border-radius: 4px;
  }
  
  .overflow-scroll{
    padding: 10px 0px;
    overflow-x: auto;
    height: 100%;
    width: 100%;
    margin-bottom: 60px;
    margin-top: 30px;
  }
  
  .flexible{
    height: auto;
  }
  
  /* Estilo para la tabla */
  .table {
    border-collapse: collapse; /* Elimina espacios entre celdas */
    width: max-content; /* La tabla ocupa el mínimo de ancho posible */
    min-width: 100%; /* Pero al menos el 100% del contenedor */
    table-layout: fixed;
    box-sizing: border-box;
  }
  
  /* Estilo para la primera fila (encabezado) */
  .table thead th {
    border-bottom: 2px solid #555; /* Borde más grueso solo en la parte inferior */
    padding: 8px; /* Espaciado interno */
    text-align: left;
    font-size: 14px; /* Tamaño de la letra */
  }
  
  /* Estilo para las celdas de datos */
  .table tbody td {
    border-bottom: 1px solid #ddd; /* Borde fino en la parte inferior */
    padding: 0; /* Espaciado interno */
    text-align: left;
    font-size: 12px; /* Tamaño de la letra */
    position: relative; /* Posicionamiento relativo para ajustar el focus */
    box-sizing: border-box; /* Asegura que el tamaño incluya los bordes */
  }
  
  /* Eliminar bordes exteriores */
  /* Eliminar borde izquierdo de la tabla */
  .table, .table th:first-child, .table td:first-child {
    border-left: none;
  }
  
  /* Eliminar borde superior de la tabla */
  .table thead th, .table tbody td {
    border-top: none;
  }
  
  /* Eliminar borde derecho de la última columna */
  .table th:last-child, .table td:last-child {
    border-right: none;
  }
  
  /* Eliminar borde inferior de la última fila */
  .table tbody tr:last-child td {
    border-bottom: none;
  }
  
  .col-nombre {
    min-width: 150px;
    padding-right: 10px;
  }
  
  .col-tipo-dato {
    min-width: 150px !important;
  }
  
  .col-posicion {
    min-width: 160px;
  }
  
  .col-visible {
    min-width: 100px;
  }
  
  .col-obligatorio {
    min-width: 100px;
  }
  
  .col-eliminar{
    min-width: 100px; 
  }
  
  .col-formulario {
    min-width: 100px;
  }
  
  /* Estilo para las entradas de texto y select */
  input[type="text"], select {
    width: 100%;
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    font-size: 12px; /* Tamaño de la letra */
    border: 1px solid transparent;
    background-color: transparent; /* Fondo transparente para mezclar con la celda */
    padding: 8px; /* Espaciado interno para que el input llene toda la celda */
    background-color: #f5f5f5;
  
  }
  
  /* Estilo específico para las entradas de fila y columna */
  .small-input input {
    width: 66px; /* Ancho reducido */
    font-size: 12px; /* Tamaño de la letra */
    padding: 8px; /* Espaciado reducido */
    box-sizing: border-box;
  }
  
  /* Eliminar el focus outline de los inputs y select */
  input[type="text"]:focus, select:focus {
    box-sizing: border-box;
    outline: none; /* Elimina el borde de enfoque por defecto */
    border-bottom: 1px solid #032e50; /* Añade una línea azul debajo del input al enfocar */
  } 
  
  input[disabled], select[disabled] {
    cursor: not-allowed; /* Cambia el cursor a not-allowed */
    background-color: white; /* Fondo gris claro */
    color: #b8b8b8; /* Texto gris claro */
    border: none;
    box-sizing: border-box; 
  }
  
  .input-label {
    margin-bottom: 5px;
    font-weight:500;
  }
  
  .input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .input-file{
    width: 25%;
    display: flex;
    justify-content: flex-end;
  }
  
  .input-group{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border: none;
    padding: 0;
    gap: var(--form-gap);
    margin: 8px 0px;
  }
  
  .input-container{
    width: 35%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .input-suffix-container {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .input-suffix {
    margin-left: -20px; /* Ajusta el valor según sea necesario */
    margin-bottom: 8px;
    padding-left: 5px;
  }
  
  div.center{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .space-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .div-select{
    padding-right: 40px;
  }
  
  .add-field {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 100%;
    border-radius: 4px;
    background-color: #5b4cff;
    color: white;
    padding: 8px;
    border:none;
    cursor: pointer; /* Asegura que el cursor sea pointer */
  }
  
  .add-field svg {
    transition: transform 0.7s ease-in-out;
    font-weight: bold;
  }
  
  .add-field:hover{
    background-color: #483cca;
  }
  
  .add-field:hover svg {
    transform: rotate(360deg);
  }

  .heredadas{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .label-heredadas{
    width: 250px;
  }
  
  .form-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
  }
  
  .form-footer button{
    width: 195px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    padding:10px;
    background-color:rgb(18, 18, 193);
    color: white;
    border-radius: 4px;
    border:none;
  }
  
  .form-footer button:hover{
    background-color: rgb(8, 8, 135);
    cursor: pointer;
  }
  
  .spinner {
    border: 2px solid white; /* Borde blanco con transparencia */
    border-top: 2px solid #435966; /* Borde superior completamente blanco */
    border-radius: 50%;
    width: 13.5px;
    height: 13.5px;
    animation: spin 0.6s linear infinite;
    display: inline-block;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .invisible{
    width: 20%;
  }