.payments{
    padding: 40px 80px;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: none;
}

td ,th {
  text-align: center;
}

th {
    padding: 8px;

}

td{
  padding: 2px;
}

th {
    background-color: #f2f2f2;
}

.mat-column-insurance {
    width: 20%; /* Ajusta este valor según sea necesario */
    text-align: start;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
  }

  .button-container button{
    min-width: 92px;
  }
  
  button {
    margin-top: 20px;
  }

  ::ng-deep .custom-snackbar {
    --mdc-snackbar-container-color: white;  
    --mdc-snackbar-supporting-text-color: black;
    --mat-snack-bar-button-color: rgb(211, 9, 9);
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: black !important;
  }
  
  .custom-snackbar [matSnackBarLabel] {
    font-size: 16px; /* Ajusta el tamaño de la fuente */
  }
  
  .custom-snackbar [matSnackBarActions] button {
    color: #b40912; /* Cambia el color del botón de acción */
  }
  