<section class="anexos-configurator">
    <h1>Configurador de tipo de anexo</h1>
    <main class="content-block new-anexo-form">
        
        <form (ngSubmit)="crearTipoAnexo()">
          <header class="form-header">
            <h2>Descripción del anexo</h2>
            <hr>
            <div class="space-between">
              <div>
                <label for="nombre_producto">Nombre del anexo</label>
                <input type="text" class="nombre-producto" 
                  [(ngModel)]="nombreAnexo" name="nombreProducto" 
                  placeholder="Escriba aquí el nombre del nuevo anexo" 
                  [disabled]="id_tipo_anexo_editado != ''">
              </div>
              <div>
                <label for="nombre_producto">Letras de identificación</label>
                <input type="text" class="nombre-producto" 
                [(ngModel)]="letrasIdentificacion" 
                name="letrasIdentificacion" 
                placeholder="Escriba aquí las letras de identificación"
                [disabled]="id_tipo_anexo_editado != ''">
              </div>
              <div>
                <label for="nombre_producto">Tipo producto asociado</label>
                <select [(ngModel)]="tipoProductoAsociado" name="tipoProductoAsociado" [disabled]="id_tipo_anexo_editado != ''">
                    @for(tipo of tiposProductos ; track $index) {
                      <option value="{{tipo.id}}">{{tipo.nombre}}</option>
                    }
                  </select>
              </div>
              <div class="input-file">
                <input type="file" class="file-input" accept=".xls, .xlsx, .xlsm, .xlsb, .csv"
                  (change)="onFileSelected($event)" #fileUpload>
  
                  <div class="file-upload">
  
                  {{fileName || "No has añadido ninguna plantilla aún."}}
  
                    <button type="button" mat-mini-fab color="primary" class="upload-btn"
                      (click)="fileUpload.click()">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                  </div>
              </div>
            </div>
          </header>

              <h2>Duración</h2>
              <hr>
              <div class="overflow-scroll">
              <table class="table">
                <thead>
                  <tr>
                    <th class="col-nombre">Nombre del campo</th>
                    <th class="col-tipo-dato">
                      <div class="center">
                        Tipo de Duración
                      </div>
                    </th>
                    <th class="col-posicion">
                      <div class="center">
                        Posición en el Certificado
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  @for (campoTiempo of camposTiempo; track $index) {
                    <tr>
                      <td class="col-nombre">
                        <div class="center">
                          <input type="text" [placeholder]="campoTiempo.nombre" [(ngModel)]="campoTiempo.nombre" name="nombreTiempo{{$index}}" disabled>
                        </div>
                      </td>
                      <td class="col-tipo-dato">
                        <div class="center div-select">
                          <select [(ngModel)]="campoTiempo.tipo_dato" name="tipo_datoTiempo{{$index}}" (change)="onTipoDatoChange(campoTiempo)">
                            @if(campoTiempo.nombre == 'Duración del seguro') {
                                @for(tipo of tiposDuracion ; track $index) {
                                  <option value="{{tipo.value}}">{{tipo.nombre}}</option>
                                }
                            }@else {
                              @for(tipo of tiposDato ; track $index) {
                                <option value="{{tipo.value}}">{{tipo.nombre}}</option>
                              }
                            }
                          </select>
                        </div>
                      </td>
                      <td class="col-posicion">
                        <div class="center" style="gap:4px;">
                          <div class="small-input">
                            <input type="text" placeholder="Columna" [(ngModel)]="campoTiempo.columna" name="columnaTiempo{{$index}}">
                          </div>
                          <div class="small-input">
                            <input type="text" placeholder="Fila" [(ngModel)]="campoTiempo.fila" name="filaTiempo{{$index}}">
                          </div>
                        </div>
                      </td>
                    </tr>   
                    <!-- Desplegable de opciones adicionales si se selecciona "select" -->
                    <tr *ngIf="campoTiempo.tipo_dato === 'selector_dias' || campoTiempo.tipo_dato === 'dias_delimitados'" >
                      <td colspan="6">
                        <div class="additional-options">
                          <h3 class="opt-header">Número de días</h3>
                          <div *ngFor="let opcion of campoTiempo.opciones; let j = index" class="flex-start">
                            <input type="text" [(ngModel)]="campoTiempo.opciones[j].nombre!" placeholder="Num días {{j + 1}}" name="{{campoTiempo.nombre}}opciones{{$index + j}}">
                            @if(campoTiempo.tipo_dato === 'selector_dias'){
                              <input type="text" [(ngModel)]="campoTiempo.opciones[j].precio" placeholder="Incremento precio {{j + 1}}" name="{{campoTiempo.nombre}}precio{{$index + j}}" class="incremento-precio">
                              <button mat-icon-button color="warn" (click)="eliminarOpcion(campoTiempo, j)" type="button">
                                <mat-icon>delete</mat-icon>
                              </button>
                            }
                          </div>
                          @if(campoTiempo.tipo_dato === 'selector_dias'){
                            <button mat-button (click)="agregarOpcion(campoTiempo)" type="button">Añadir opción</button>
                          }
                        </div>
                      </td>
                    </tr>             
                  }
                </tbody>
              </table>
              </div>

            <h2>Datos del anexo</h2>

            <hr>
            <div class="overflow-scroll flexible">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-nombre">Nombre del campo</th>
                            <th class="col-tipo-dato">
                                <div class="center">
                                Tipo de Dato
                                </div>
                            </th>
                            <th class="col-posicion">
                                <div class="center">
                                Posición en el Certificado
                                </div>
                            </th>
                            <th class="col-obligatorio">
                                <div class="center">
                                Obligatorio
                                </div>
                            </th>
                            <th class="col-eliminar">
                                <div class="center">
                                Eliminar
                                </div>
                            </th>
                        </tr>
                    </thead>
              <tbody>
                @for (campo of campos; track $index) {
                  <tr>
                    <td class="col-nombre">
                      <div class="center">
                        <input type="text" placeholder="Nombre" [(ngModel)]="campo.nombre" name="nombre{{$index}}" [disabled]="campo.id != ''" [disabled]="campo.grupo === 'datos_fecha'">
                      </div>
                    </td>
                    <td class="col-tipo-dato">
                      <div class="center div-select">
                        <select [(ngModel)]="campo.tipo_dato" name="tipo_dato{{$index}}" [disabled]="campo.grupo === 'datos_fecha'">
                          @for(tipo of tiposDato ; track $index) {
                            <option value="{{tipo.value}}">{{tipo.nombre}}</option>
                          }
                        </select>
                      </div>
                    </td>
                    <td class="col-posicion">
                      <div class="center" style="gap:4px;">
                        <div class="small-input">
                          <input type="text" placeholder="Columna" [(ngModel)]="campo.columna" name="columna{{$index}}">
                        </div>
                        <div class="small-input">
                          <input type="text" placeholder="Fila" [(ngModel)]="campo.fila" name="fila{{$index}}">
                        </div>
                      </div>
                    </td>
                    <td class="col-obligatorio">
                      <div class="center">
                        <mat-checkbox [(ngModel)]="campo.obligatorio" name="obligatorio{{$index}}"></mat-checkbox>
                      </div>
                    </td>
                    <td class="col-eliminar">
                      <div class="center">
                        <button mat-icon-button color="warn" (click)="eliminarCampo($index)" type="button" [disabled]="campo.id != ''">
                          <mat-icon>delete</mat-icon>
                        </button> 
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
          <button type="button" class="add-field" (click)="agregarCampo()">
            Agregar Nuevo Campo
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
            </svg>
          </button>


          @if(id_tipo_anexo_editado == ''){
            <h2>Tarifas</h2>
            <hr>

            <fieldset class="input-group">
              @for(tarifa of tarifas ; track tarifa.id){
                <div class="input-container">
                  <label [for]="tarifa.codigo" class="input-label">{{tarifa.nombre}}</label>
                  <div class="input-suffix-container">
                    <input (input)="calculatePrecioTotal()" [disabled]="tarifa.codigo == 'precio_total'" [id]="tarifa.codigo" [(ngModel)]="tarifa.valor" type="text" class="input-field" name="tarifa{{tarifa.id}}">
                    <span class="input-suffix">€</span>
                  </div>
                </div>
              }
            </fieldset>
          }

          <footer class="form-footer">
            @if(cargandoNuevoAnexo){
              <button class="button-disabled"><div class="spinner"></div></button>
            }@else {
              <button>Crear nuevo tipo de anexo</button>
            }
          </footer>

        </form>
    </main>
</section>