.commercial-section{
    padding: var(--section-padding);
}

.content-block{
    padding:40px 40px;
}

.file-input {
    display: none;
  }

  .datos-header{
    margin-bottom: 10px;
}

.datos-header h3{
    margin: 0;
}

hr{
    margin-bottom: 20px;
}

.sexo{
    width: 5%;
}

.input-error {
    border-color: rgb(252, 130, 130);
    background-color: rgb(252, 243, 243);
}

.form-footer{
    display: flex;
    justify-content: flex-end;
}

.form-footer button{
    min-width: 120px;
}


::ng-deep .custom-snackbar {
    --mdc-snackbar-container-color: white;  
    --mdc-snackbar-supporting-text-color: black;
    --mat-snack-bar-button-color: rgb(211, 9, 9);
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: black !important;
  }
  
  .custom-snackbar [matSnackBarLabel] {
    font-size: 16px; /* Ajusta el tamaño de la fuente */
  }
  
  .custom-snackbar [matSnackBarActions] button {
    color: #b40912; /* Cambia el color del botón de acción */
  }
  