<section class="commercial-section">
    <header>
        <h1>Formulario comerciales</h1>
    </header>
    <main class="content-block">
        <form [formGroup]="comercialForm" (ngSubmit)="onSubmit()">
            <header class="space-between datos-header">
                <h3 class="form-section-title">Datos generales</h3>

                @if(sociedades.length > 0){
                    <div class="input-container sociedade">
                        <label for="sociedad" class="input-label">Sociedad Padre</label>
                        <select formControlName="id_sociedad" id="sociedad" class="input-field">
                            @for(sociedad of sociedades ; track sociedad){
                                <option value="{{sociedad.id}}">{{sociedad.nombre}}</option>
                            }
                        </select>
                    </div>
                }

                <div class="input-file">
                    <input type="file" class="file-input" accept=".png, .jpg, .jpeg, .svg"
                    (change)="onFileSelected($event)" #fileUpload>
    
                    <div class="file-upload">
    
                    {{fileName || "No has añadido ninguna foto de perfil aún."}}
    
                        <button type="button" mat-mini-fab color="primary" class="upload-btn"
                        (click)="fileUpload.click()">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                    </div>
                </div>
            </header>
            <hr>

            <fieldset class="input-group">
                
                <!-- Nombre (obligatorio) -->
                <div class="input-container nombre">
                    <label for="nombre" class="input-label">Nombre <span class="span-required">*</span></label>
                    <input id="nombre" formControlName="nombre" class="input-field" placeholder="Ej: Manuel" required
                        [ngClass]="{'input-error': comercialForm.get('nombre')?.invalid && formularioMandado}">
                </div>

                <!-- dni (opcional) -->
                <div class="input-container dni">
                    <label for="dni" class="input-label">DNI</label>
                    <input id="dni" formControlName="dni" class="input-field" placeholder="Ej: A12345678">
                </div>
            
                <!-- Correo Electrónico (obligatorio) -->
                <div class="input-container email">
                    <label for="email" class="input-label">Correo Electrónico <span class="span-required">*</span></label>
                    <input id="email" formControlName="email" type="email" class="input-field" placeholder="Ej: ejemplo@dominio.com" required
                        [ngClass]="{'input-error': comercialForm.get('email')?.invalid && formularioMandado}">
                </div>

                <div class="input-container select" [hidden]="sociedad_id == id_sociedad_admin">
                    <label for="responsable" class="input-label">Tipo comercial <span class="span-required">*</span></label>
                    <select formControlName="responsable" id="responsable" class="input-field" name="responsable"
                    [ngClass]="{'input-error': comercialForm.get('responsable')?.invalid && formularioMandado}">
                        <option value="0">Comercial</option>
                        <option value="1">Comercial responsable</option>
                    </select>
                </div>
    
            </fieldset>

            <hr>
            <h3 class="form-section-title">Datos cuenta</h3>

            <fieldset class="input-group">
                <!-- Usuario (obligatorio) -->
                <div class="input-container usuario">
                    <label for="usuario" class="input-label">Usuario<span class="span-required"> *</span></label>
                    <input id="usuario" formControlName="usuario" class="input-field" placeholder="Ej: usuario12canama"
                           [ngClass]="{'input-error': comercialForm.get('usuario')?.invalid && formularioMandado}">
                    <div *ngIf="comercialForm.get('usuario')?.errors?.['userNameTaken']" class="error-message">
                        <p >
                            <span class="error-icon">
                            <mat-icon>error_outline</mat-icon>
                            </span>
                            Este nombre de usuario ya está en uso. Elige otro.
                        </p>
                    </div>
                </div>
                
                <!-- Contraseña (opcional) -->
                <div class="input-container contraseña">
                    <label for="contraseña" class="input-label" [hidden]="comercial_id != ''">
                        Contraseña<span class="span-required"> *</span>
                    </label>
                    <input id="contraseña" type="password" formControlName="contraseña" class="input-field" placeholder="******"
                           [ngClass]="{'input-error': comercialForm.get('contraseña')?.invalid && formularioMandado}"
                           [hidden]="comercial_id != ''">
                    <!-- Mostrar los mensajes de error -->
                    <div *ngIf="comercialForm.get('contraseña')?.invalid && formularioMandado" class="error-message">
                        <p *ngIf="comercialForm.get('contraseña')?.errors?.['passwordInvalid']">
                          <span class="error-icon">
                            <mat-icon>error_outline</mat-icon>
                          </span>
                          La contraseña debe tener al menos 8 caracteres, incluir mayúsculas, minúsculas, números y caracteres especiales.
                        </p>
                      </div>
                </div>
            </fieldset>

            <hr>
            <h3 class="form-section-title">Datos adicionales</h3>

            <fieldset class="input-group">
                <div class="input-container fecha_nacimiento">
                    <label for="fecha_nacimiento" class="input-label">Fecha de nacimiento<span class="span-required"> *</span></label>
                    <input id="fecha_nacimiento" formControlName="fecha_nacimiento" class="input-field" type="date"
                    [ngClass]="{'input-error': comercialForm.get('fecha_nacimiento')?.invalid && formularioMandado}">
                </div>

                <div class="input-container fecha_alta">
                    <label for="fecha_alta" class="input-label">Fecha de alta</label>
                    <input id="fecha_alta" formControlName="fecha_alta" class="input-field" type="date">
                </div>

                <div class="input-container sexo">
                    <label for="sexo" class="input-label">Sexo</label>
                    <input id="sexo" formControlName="sexo" class="input-field" placeholder="M/F">
                </div>
            </fieldset>

            <hr>
            <h3 class="form-section-title">Dirección</h3>
            
            <fieldset class="input-group">
                
                <!-- Dirección (opcional) -->
                <div class="input-container direccion">
                    <label for="direccion" class="input-label">Dirección </label>
                    <input id="direccion" formControlName="direccion" class="input-field" placeholder="Ej: Calle Mayor, 10">
                </div>
            
                <!-- Población (opcional) -->
                <div class="input-container poblacion">
                    <label for="poblacion" class="input-label">Población </label>
                    <input id="poblacion" formControlName="poblacion" class="input-field" placeholder="Ej: Madrid">
                </div>
            
                <!-- País (opcional) -->
                <div class="input-container provincia">
                    <label for="provincia" class="input-label">Provincia </label>
                    <input id="provincia" formControlName="provincia" class="input-field" placeholder="Ej: Madrid">
                </div>
            
                <!-- Código Postal (opcional) -->
                <div class="input-container codigo_postal">
                    <label for="cod_postal" class="input-label">Código Postal </label>
                    <input id="cod_postal" formControlName="cod_postal" type="text" class="input-field" placeholder="Ej: 28001">
                </div>
            </fieldset>

            <hr>
            <h3 class="form-section-title">Contacto</h3>
            
            <fieldset class="input-group">
                <!-- Teléfono (opcional) -->
                <div class="input-container telefono">
                    <label for="telefono" class="input-label">Teléfono</label>
                    <input id="telefono" formControlName="telefono" class="input-field" placeholder="Ej: 912345678">
                </div>
            
                <!-- Fax (opcional) -->
                <div class="input-container fax">
                    <label for="fax" class="input-label">Fax</label>
                    <input id="fax" formControlName="fax" class="input-field" placeholder=" ">
                </div>
            
            </fieldset>

            <hr>
            

            <footer class="form-footer">
                <button type="submit" class="submit-button">
                    @if(cargandoComercial){
                        <app-button-spinner></app-button-spinner>
                    } @else {
                        @if(comercial_id){
                            Guardar cambios
                        } @else { 
                            Crear cuenta comercial
                        }
                    }
                </button>
            </footer>
        </form>
    </main>
</section>