.product-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px ;
}

.form-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-section-title{
    font-weight: 500;
}

.form-main{
    width: 100%;
}




/* Clases especificas */
.dni{
    width: 20%;
}

.email{
    width: 25%;
}

.telefono{
    width: 30%;
}

.fecha_de_nacimiento {
    width: 10%;
    min-width: 150px;
}

.sexo{
    width: 1%;
    min-width: 55px;
}

.poblacion{
    width: 10%;
}

.provincia{
    width: 10%;
}

.codigo_postal{
    min-width: 110px;
    width: 10%;
}

.inputs-pago{
    width: 70%;
}

.select{
    width: 30%;
}

.divider{
    margin-bottom: 20px;
}



.clean-inputs {
    background-color: #4c78af;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px 0px 16px 0px
}

hr {
    width: 100%;
}

.add-anexo-button{
    margin-bottom: 10px;
}

.mat-button-success{
    background-color: #4CAF50; /* Verde */
    color: white;

    &:hover {
        background-color: #45A049; /* Verde más oscuro */
    }
}