<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="product-form content-block" id="product-form">
    @if(productForm){
    <header class="form-header">
        <h3 class="form-section-title">Datos de la sociedad</h3>
        @if(product.id !== null || product.id !== ''){
            <button  mat-raised-button color="primary" type="button" class="clean-inputs" (click)="eliminateProductSelected()">Limpiar campos</button>
        }
    </header>
    @if(sociedades.length > 0){
        <label for="sociedad" class="input-label">Sociedad</label>
        <select formControlName="sociedad_id" id="sociedad" class="input-field select">
            @for(sociedad of sociedades ; track sociedad.id){
                <option [value]="sociedad.id">{{ sociedad.nombre }}</option>
            }
        </select>
        <!-- <select formControlName="sociedad_id" id="sociedad" class="input-field select" *ngIf="sociedades.length > 0">
            <option *ngFor="let sociedad of sociedades" [value]="sociedad.id">{{ sociedad.nombre }}</option>
        </select> -->
    }
    
    <hr class="divider">

    <header class="form-header">
        <h3 class="form-section-title">Datos del asegurado</h3>
    </header>
    <main class="form-main">
        <div class="input-container dni">
            <label for="dni_o_cif" class="input-label">DNI o CIF <span *ngIf="isFieldRequired('datos_asegurado', 'dni')" class="span-required">*</span></label>
            <input id="dni_o_cif" formControlName="dni" class="input-field" placeholder="Ej: 12345678X">
        </div>
        
        <fieldset class="input-group">
            <div class="input-container">
                <label for="nombre" class="input-label">Nombre <span *ngIf="isFieldRequired('datos_asegurado', 'nombre_socio')" class="span-required">*</span></label>
                <input id="nombre" formControlName="nombre_socio" class="input-field" placeholder="Ej: Juan">
            </div>
            <div class="input-container">
                <label for="apellido_1" class="input-label">Apellido 1 <span *ngIf="isFieldRequired('datos_asegurado', 'apellido_1')" class="span-required">*</span></label>
                <input id="apellido_1" formControlName="apellido_1" class="input-field" placeholder="Ej: Pérez">
            </div>
            <div class="input-container">
                <label for="apellido_2" class="input-label">Apellido 2 <span *ngIf="isFieldRequired('datos_asegurado', 'apellido_2')" class="span-required">*</span></label>
                <input id="apellido_2" formControlName="apellido_2" class="input-field" placeholder="Ej: Gómez">
            </div>
        </fieldset>
        
        <fieldset class="input-group">
            <div class="input-container email">
                <label for="email" class="input-label">Email <span *ngIf="isFieldRequired('datos_asegurado', 'email')" class="span-required">*</span></label>
                <input id="email" formControlName="email" class="input-field" placeholder="Ej: ejemplo@dominio.com">
            </div>
        
            <div class="input-container telefono">
                <label for="telefono" class="input-label">Teléfono <span *ngIf="isFieldRequired('datos_asegurado', 'telefono')" class="span-required">*</span></label>
                <input id="telefono" formControlName="telefono" class="input-field" placeholder="Ej: 123456789">
            </div>
        
            <div class="input-container fecha_de_nacimiento">
                <label for="fecha_de_nacimiento" class="input-label">Fecha de nacimiento <span *ngIf="isFieldRequired('datos_asegurado', 'fecha_de_nacimiento')" class="span-required">*</span></label>
                <input id="fecha_de_nacimiento" formControlName="fecha_de_nacimiento" type="date" class="input-field">
            </div>
        
            <div class="input-container sexo">
                <label for="sexo" class="input-label">Sexo <span *ngIf="isFieldRequired('datos_asegurado', 'sexo')" class="span-required">*</span></label>
                <input id="sexo" formControlName="sexo" class="input-field" placeholder="M/F">
            </div>
        </fieldset>
        

        <fieldset class="input-group">

            <div class="input-container direccion">
                <label for="direccion" class="input-label">Dirección <span *ngIf="isFieldRequired('datos_asegurado', 'dirección')" class="span-required">*</span></label>
                <input id="direccion" formControlName="dirección" class="input-field" placeholder="Ej: Calle Mayor, 10">
            </div>

            <div class="input-container poblacion">
                <label for="poblacion" class="input-label">Población <span *ngIf="isFieldRequired('datos_asegurado', 'población')" class="span-required">*</span></label>
                <input id="poblacion" formControlName="población" class="input-field" placeholder="Ej: Madrid">
            </div>

            <div class="input-container provincia">
                <label for="provincia" class="input-label">Provincia <span *ngIf="isFieldRequired('datos_asegurado', 'provincia')" class="span-required">*</span></label>
                <input id="provincia" formControlName="provincia" class="input-field" placeholder="Ej: Madrid">
            </div>

            <div class="input-container codigo_postal">
                <label for="codigo_postal" class="input-label">Código Postal <span *ngIf="isFieldRequired('datos_asegurado', 'codigo_postal')" class="span-required">*</span></label>
                <input id="codigo_postal" formControlName="codigo_postal" type="number" class="input-field" placeholder="Ej: 28001">
            </div>

        </fieldset>
        
    </main>
    <hr class="divider">

    @if(camposFormularioPorGrupos['datos_producto'] && camposFormularioPorGrupos['datos_producto'].length > 0){
    <header class="form-header">
        <h3 class="form-section-title">Datos del producto</h3>
    </header>
        <input id="id" formControlName="id" hidden>
        @for(campo of camposFormularioPorGrupos['datos_producto']; track campo.name){
            <label [for]="campo.name" class="input-label">{{ campo.label }}</label>
            <input [id]="campo.name" [formControlName]="campo.name" [type]="campo.tipo_dato" class="input-field">
        }
        <hr class="divider">
    }

    


    <header class="form-header">
        <h3 class="form-section-title">Datos del pago</h3>
    </header>
    <fieldset class="input-group  inputs-pago">
        <div class="input-container prima_del_seguro">
            <label for="prima_del_seguro" class="input-label">Prima seguro</label>
            <div class="input-suffix-container">
              <input id="prima_del_seguro" formControlName="prima_del_seguro" type="text" class="input-field disabled">
              <span class="input-suffix">€</span>
            </div>
          </div>
          
          <div class="input-container cuota_de_asociacion">
            <label for="cuota_de_asociacion" class="input-label">Cuota asociación</label>
            <div class="input-suffix-container">
              <input id="cuota_de_asociacion" formControlName="cuota_de_asociación" type="text" class="input-field disabled">
              <span class="input-suffix">€</span>
            </div>
          </div>
          
          <div class="input-container precio_total">
            <label for="precio_total" class="input-label">Precio total</label>
            <div class="input-suffix-container">
              <input id="precio_total" formControlName="precio_total" type="text" class="input-field disabled">
              <span class="input-suffix">€</span>
            </div>
          </div>
        
        <div class="input-container">
            <label for="sociedad" class="input-label">Tipo de pago</label>
            <select name="tipo_de_pago_id" id="tipo_de_pago_id" formControlName="tipo_de_pago_id" class="input-field">
                @for(tipoPago of tiposPago ; track tipoPago.id){
                    <option [value]="tipoPago.id">{{ tipoPago.nombre }}</option>
                }
            </select>
        </div>

        <div class="final-price">
            <h2>Precio: {{ precioFinal | number:'1.2-2'}} €</h2>
        </div>
    </fieldset>

    <button mat-raised-button type="submit" class="mat-button-success submit-button">
        {{ productForm.value.id == null || productForm.value.id == '' ? 'Crear' : 'Editar'}}
    </button>
    } @else {
        <div>
            <p>Cargando...
            </p>
        </div>
    }
</form>


@if(tiposAnexos.length > 0){
    @if(formatosAnexos && objectLength(formatosAnexos) == tiposAnexos.length){
        <h2>Anexos</h2>
        <form class="content-block anexos-form">
        <div class="flex-start">
        @for(tipoAnexo of tiposAnexos ; track tipoAnexo.id){
            <!-- Mat -button color verde con un mas y el nombre del anexo -->
            <button mat-raised-button color="primary" (click)="addAnexo(tipoAnexo)" class="add-anexo-button" type="button">
                + {{ tipoAnexo.nombre }}
            </button>
        }
        </div>
        

        <div *ngFor="let anexo of anexos; let i = index" class="anexo-input-group">
            <header class="form-header space-between">
                <h4 [attr.id]="'anexo-' + i" #anexoElement>{{ anexo.tipo_anexo.nombre }} nº{{ i + 1 }}</h4>
                <!-- Mat button con un icono de una x -->
                <button mat-icon-button (click)="removeAnexo(i)" class="remove-anexo-button" type="button">
                    <mat-icon>close</mat-icon>
                </button>
            </header>
            <div *ngFor="let campoAnexo of camposAnexo[anexo.tipo_anexo.id]; let j = index">
                <label [for]="campoAnexo.nombre_codigo" class="input-label">{{ campoAnexo.nombre }}</label>
                <input [id]="campoAnexo.nombre_codigo" [type]="campoAnexo.tipo_dato" class="input-field" [(ngModel)]="anexos[i].formato[campoAnexo.nombre_codigo]" name="{{campoAnexo.nombre_codigo}}-{{i}}-{{j}}">
            </div>
            <hr class="divider">
        </div>
        
        
        </form>        
    } @else {
        <div>
            <p>Cargando anexos...
            </p>
        </div>
    }
    
}  
