<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="product-form content-block">
    <header class="form-header">
        <h3>Datos del producto</h3>
        @if(product){
            <button type="button" class="clean-inputs" (click)="eliminateProductSelected()">Limpiar campos</button>
        }
    </header>
    @for(key of productKeys() ; track key){
        <label [for]="key" class="input-label">{{ capitalizeFirstLetter(key) }}</label>
        <input [id]="key" [formControlName]="key" [type]="getInputType(key)" class="input-field">
    }
    <hr>
    <button type="submit" class="submit-button">
        {{ isProductSelected ? 'Editar' : 'Crear' }}
      </button>
  </form>