.product-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px ;
}

.form-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-section-title{
    font-weight: 500;
}

.form-main{
    width: 100%;
}

.input-label {
    margin-bottom: 5px;
    font-weight:500;
}

.input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.input-group{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border: none;
    padding: 0;
    gap: var(--form-gap);
    margin: 8px 0px;
}

.input-container{
    width: 35%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-suffix-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.input-suffix {
    margin-left: -20px; /* Ajusta el valor según sea necesario */
    padding-left: 5px;
}

.span-required{
    color: var(--required-color);
}

/* Clases especificas */
.dni{
    width: 20%;
}

.email{
    width: 25%;
}

.telefono{
    width: 30%;
}

.fecha_de_nacimiento {
    width: 10%;
    min-width: 150px;
}

.sexo{
    width: 1%;
    min-width: 55px;
}

.poblacion{
    width: 10%;
}

.provincia{
    width: 10%;
}

.codigo_postal{
    min-width: 110px;
    width: 10%;
}

.inputs-pago{
    width: 70%;
}

.select{
    width: 30%;
}

.divider{
    margin-bottom: 20px;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
}

.submit-button:hover {
    background-color: #45a049;
}

.clean-inputs {
    background-color: #4c78af;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px 0px 16px 0px
}

hr {
    width: 100%;
}