<nav class="nav-bar">
    <ul class="nav-options" [style.width]="navWidth">
      <ng-container *ngFor="let menu of navigation">
        <li>
          <!-- Button to trigger the menu or just display the label if no children -->
          <button mat-button *ngIf="menu.children?.length; else noChildren" [matMenuTriggerFor]="menuTrigger">
            {{ menu.label }}
          </button>
          <ng-template #noChildren>
            <button mat-button [routerLink]="menu.link">
              {{ menu.label }}
            </button>
          </ng-template>
          <mat-menu #menuTrigger="matMenu">
            <div class="submenu-container">
              <ng-container *ngFor="let subMenu of menu.children">
                <ng-container *ngIf="subMenu.children?.length; else noSubMenuChildren">
                  <button mat-menu-item [matMenuTriggerFor]="subMenuTrigger">
                    {{ subMenu.label }}
                  </button>
                  <mat-menu #subMenuTrigger="matMenu" class="submenu">
                    <div class="submenu-content">
                      <ng-container *ngFor="let subSubMenu of subMenu.children">
                        <button mat-menu-item [routerLink]="subSubMenu.link">
                          {{ subSubMenu.label }}
                        </button>
                      </ng-container>
                    </div>
                  </mat-menu>
                </ng-container>
                <ng-template #noSubMenuChildren>
                  <button mat-menu-item [routerLink]="subMenu.link">
                    {{ subMenu.label }}
                  </button>
                </ng-template>
              </ng-container>
            </div>
          </mat-menu>
        </li>
      </ng-container>
    </ul>
  </nav>
  