nav.nav-bar{
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0px 90px 0px 82px;
    background-color: var(--nav-bar-color);
    box-shadow: 0 1px 2px -2px gray;
}

ul.nav-options{
    padding:0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.submenu-container {
    overflow-y: auto; /* Habilitar scroll vertical si el contenido excede la altura */
  }
  
  .submenu {
    max-height: 200px; /* Altura máxima de los submenús anidados */
    overflow-y: auto; /* Habilitar scroll vertical si el contenido excede la altura */
  }
  
  /* Estilos para el subMenu (Menu de los seguros combinados) */
  .submenu-content {
    width: 100%; /* Ancho completo del contenido del submenú */
    max-height: 400px;
  }
  