nav.nav-bar{
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0px 90px 0px 82px;
}

ul.nav-options{
    padding:0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.submenu-container {
    max-height: 300px; /* Altura máxima del submenú principal */
    overflow-y: auto; /* Habilitar scroll vertical si el contenido excede la altura */
  }
  
  .submenu {
    max-height: 200px; /* Altura máxima de los submenús anidados */
    overflow-y: auto; /* Habilitar scroll vertical si el contenido excede la altura */
  }
  
  .submenu-content {
    width: 100%; /* Ancho completo del contenido del submenú */
  }
  