nav.nav-bar{
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0px 90px;
}

ul.nav-options{
    padding:0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}