<section class="polizas-manager">
    <header class="space-between-header">
        <h1>Gestión de polizas</h1>
            <a (click)="openPolizaForm(company)" routerLinkActive="active" class="button-crear">Crear nueva poliza</a>
    </header>
    <main class="polizas-list">
        <div class="table-container content-block" style="width: 100%; height: 100%;">
            <!-- The AG Grid component, with Dimensions, CSS Theme, Row Data, and Column Definition -->
            <ag-grid-angular
              style="width: 100%; height: 100%;"
              [rowData]="rowData"
              [columnDefs]="columnDefs"
              [defaultColDef]="defaultColDef"
              [rowSelection]="rowSelection"
              [suppressRowClickSelection]="true"
              [pagination]="true"
              [paginationPageSize]="paginationPageSize"
              [paginationPageSizeSelector]="paginationPageSizeSelector"
              [localeText]="localeText"
              [class]="themeClass"
              (cellDoubleClicked)="onCellDoubleClicked($event)"
              (cellKeyDown)="onCellKeyDown($event)"
            ></ag-grid-angular>
          </div>
    </main>
</section>