<main class="price-payment-manager">
    @if(sociedad){
        <h1>{{ sociedad.nombre }}</h1>
        <section class="payments-manager bloque">
            <h2>Gestión de tipos de pago</h2>
            <app-payments></app-payments>
        </section>
        <section class="price-manager">
            <h2>Gestión de precios</h2>
            <app-prices [sociedad_id]="sociedad_id"></app-prices>
        </section>
    } @else {
        <div class="center">
            <app-spinner></app-spinner>
        </div>
    }
</main>
