main.price-payment-manager{
    padding: 40px 90px 100px;
    background-color: var(--main-bg-color);
}

.payments-content{
    background-color: white;
    border-radius: 4px;
    height: 600px;
}

.price-manager{
    margin-top: 40px;
}