<section>
  
    <p [class]="infoClass">
        {{ infoText }}
    </p>
    <main class="content-block">
      @if(tarifasForm){
        <form [formGroup]="tarifasForm" (ngSubmit)="onSubmit()">
          <table mat-table [dataSource]="tarifasFormArray.controls" class="mat-elevation-z8" formArrayName="tarifas">

            <!-- Tipo Producto Column -->
            <ng-container matColumnDef="tipoProducto">
              <th mat-header-cell *matHeaderCellDef> Tipo Producto </th>
              <td mat-cell *matCellDef="let element"> {{ element.tipoProducto.nombre }} </td>
            </ng-container>
          
            <!-- Prima Seguro Column -->
            <ng-container matColumnDef="prima_seguro">
              <th mat-header-cell *matHeaderCellDef> Prima Seguro </th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field>
                  <input matInput formControlName="prima_seguro" placeholder="€" type="number">
                  <span matSuffix>€</span>
                </mat-form-field>
              </td>
            </ng-container>
          
            <!-- Cuota Asociación Column -->
            <ng-container matColumnDef="cuota_asociacion">
              <th mat-header-cell *matHeaderCellDef> Cuota Asociación </th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field>
                  <input matInput formControlName="cuota_asociacion" placeholder="€" type="number">
                  <span matSuffix>€</span>
                </mat-form-field>
              </td>
            </ng-container>
          
            <!-- Precio Total Column -->
            <ng-container matColumnDef="precio_total">
              <th mat-header-cell *matHeaderCellDef> Precio Total </th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field>
                  <input matInput formControlName="precio_total" placeholder="€" type="number">
                  <span matSuffix>€</span>
                </mat-form-field>
              </td>
            </ng-container>
          
            <!-- Header and Row Definitions -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
          </table>
          
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>      
      } @else {
        <div class="center">
          <app-spinner></app-spinner>
        </div>
      }
      
    </main>
</section>