.info-message {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 4px solid #2196F3;
    border-radius: 4px;
  }

  .alert{
    border-left:4px solid rgb(194, 4, 4);
  }

  .content-block{
    padding:40px 80px;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  button {
    margin-top: 20px;
  }
  
table {
  width: 100%;
  border: none;
  box-shadow: none;
}

.mat-form-field {
  width: 100%;
}

button {
  margin-top: 20px;
}

.overflow-scroll{
  padding: 10px 0px;
  overflow-x: auto;
  height: 100%;
  width: 100%;
  margin-bottom: 60px;
}


.nombre-header, .nombre-cell {
  width: 300px; /* Ajusta el valor según necesites */
}

::ng-deep .mat-mdc-form-field {
  width: 80%;
}
.centered-table th, 
.centered-table td {
  text-align: center;
  vertical-align: middle;
  max-width: 200px;
}

.mat-form-field {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}
