<section>
  
    <p [class]="infoClass">
        {{ infoText }}
    </p>
    <main class="content-block">
      @if(tarifasPorTipoProducto.length > 0) {
        @if(tarifasPorTipoProductoVacio()){
          <div class="center">
            <p>No hay tarifas para mostrar</p>
          </div>
        } @else {
          <form (ngSubmit)="onSubmit()" #productForm="ngForm">
            <table mat-table [dataSource]="tarifasPorTipoProducto" class="mat-elevation-z8 centered-table">
            
              <!-- Nombre Column -->
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef class="nombre-header"> Nombre </th>
                <td mat-cell *matCellDef="let tarifaPorTipoProducto" class="nombre-cell">
                  {{tarifaPorTipoProducto.nombre}}
                </td>
              </ng-container>
          
              <!-- Cuota Asociacion Column -->
              <ng-container matColumnDef="cuota_asociacion">
                <th mat-header-cell *matHeaderCellDef> Cuota Asociación </th>
                <td mat-cell *matCellDef="let tarifaPorTipoProducto; let i = index">
                  <mat-form-field>
                    <input matInput [(ngModel)]="tarifaPorTipoProducto.cuota_asociacion" name="cuota_asociacion{{i}}">
                    <span matSuffix>€</span>
                  </mat-form-field>
                </td>
              </ng-container>
          
              <!-- Precio Total Column -->
              <ng-container matColumnDef="precio_total">
                <th mat-header-cell *matHeaderCellDef> Precio Total </th>
                <td mat-cell *matCellDef="let tarifaPorTipoProducto; let i = index">
                  <mat-form-field>
                    <input matInput [(ngModel)]="tarifaPorTipoProducto.precio_total" name="precio_total{{i}}">
                    <span matSuffix>€</span>
                  </mat-form-field>
                </td>
              </ng-container>
          
              <!-- Prima Seguro Column -->
              <ng-container matColumnDef="prima_seguro">
                <th mat-header-cell *matHeaderCellDef> Prima Seguro </th>
                <td mat-cell *matCellDef="let tarifaPorTipoProducto; let i = index">
                  <mat-form-field>
                    <input matInput [(ngModel)]="tarifaPorTipoProducto.prima_seguro" name="prima_seguro{{i}}">
                    <span matSuffix>€</span>
                  </mat-form-field>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="button-container">
              <button mat-raised-button color="primary" type="submit">Guardar</button>
            </div>
          </form>
        }
        
        
      } @else {
        @if(tiposProducto.length == 0) {
          <div>
            <p>Esta sociedad no tiene permisos para ningun tipo de producto.</p>
            <p>Prueba a darselos.</p>
          </div>
        } @else {
          <div class="center">
            <app-spinner></app-spinner>
          </div>
        }
      }
      
    </main>
</section>