.info-message {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 4px solid #2196F3;
    border-radius: 4px;
  }

  .alert{
    border-left:4px solid rgb(194, 4, 4);
  }

  .content-block{
    padding:40px;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  button {
    margin-top: 20px;
  }
  