<div class="comercial-buttons">
    <a [routerLink]="['/comisiones-comercial', data.id]" routerLinkActive="active" class="a-comisiones">Comisiones</a>
    <!-- Boton editar con icono de mat-icon de editar -->
    <button mat-icon-button [routerLink]="['/comercial', data.id]" routerLinkActive="active" class="button-editar">
        <mat-icon>edit</mat-icon>
    </button>
    <!-- Boton eliminar con icono de mat-icon de eliminar -->
    <button mat-icon-button (click)="openDeleteComercialModal(data)" class="button-eliminar">
        <mat-icon>delete</mat-icon>
    </button>
</div>