main.product-page{
    background-color: var(--main-bg-color);
}

.listado{
    height: 540px;
}


h2{
    font-weight: 500;
}

.button-historial{
    background-color: #5b4cff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 16px;
}