main.product-page{
    background-color: var(--main-bg-color);
}

.listado{
    height: 540px;
    padding: 40px 90px;
}

.datos-producto{
    height: 100vh;
    padding: 40px 90px;
}

h2{
    font-weight: 500;
}