
<main class="product-page">
    <section class="listado section-block">
        <header class="space-between-header">
            <div class="center">
                <h1>Listado de {{ productName }}</h1>
                @if(!tipo_producto?.subproductos){
                    <button class="copy-url-button" (click)="copyUrl(productUrl)">
                        Copiar URL clientes
                        <mat-icon class="icon">content_copy</mat-icon>
                      </button>
                } @else {
                    <!-- Si el producto tiene subproductos -->
                  <button mat-icon-button [matMenuTriggerFor]="menu" class="copy-url-button">
                    Copiar URL productos clientes
                    <mat-icon>content_copy</mat-icon>
                  </button>
                  
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngFor="let subproducto of tipo_producto.subproductos" class="copy-url-opt" (click)="copyUrl(subproducto.letras_identificacion)">
                      Copiar URL {{ subproducto.nombre }} clientes
                      <mat-icon>content_copy</mat-icon>
                    </button>
                  </mat-menu>
                }
                
            </div>
            <div class="space-between header-buttons">
                <a [routerLink]="['/historial', productUrl]" routerLinkActive="active" class="button-header see-history">Ver historial</a>
                <button class="button-header clear-filters" (click)="clearFilters()">Limpiar filtros</button>
                <a [routerLink]="['/anulados', productUrl]" routerLinkActive="active" class="button-header">Ver anulados</a>
            </div>
        </header>
        <app-table 
        (productSelectedChange)="onProductSelectedChanged($event)" 
        [columnDefs]="columnDefs" 
        [rowData]="rowData"
        [paginationPageSize]="paginationPageSize"
        [loadingRows]="loadingRows"
        ></app-table>
        <!-- (pageChanged)="onPageChanged($event)" -->
    </section>
    <section class="datos-producto section-block">
        @if(camposLoaded){
            <h2>Formulario de gestión</h2>
            <app-product-form 
            [product]="productSelected" 
            [letras_identificacion]="productUrl" 
            [campos]="camposFormulario"
            [camposSubproductos]="camposSubproductos"
            (formLoadedChange)="handleFormLoadedChange($event)"
            ></app-product-form>
        } @else {
            <div>
                <p>Cargando...</p>
            </div>
        }

    </section>
</main>
