.society-manager{
    background-color: var(--main-bg-color);
    width: 100%;
    height: 100%;
    padding: 40px 90px;
    box-sizing: border-box;
}

.society-list{
    background-color: white;
    border-radius: 4px;
    height: 700px;
}