<div class="action-buttons">
    <a [routerLink]="['/sociedades/pagos', data.id]" routerLinkActive="active" class="a-pagos">Pagos y precios</a>
    <a [routerLink]="['/sociedades/productos', data.id]" routerLinkActive="active" class="a-productos">Productos</a>
    <a [routerLink]="['/sociedades/permisos', data.id]" routerLinkActive="active" class="a-permisos">Permisos</a>
    <a [routerLink]="['/sociedades/modificar', data.id]" routerLinkActive="active" class="a-modificar">Modificar</a>
    <button (click)="onBorrarClick(data)" class="button-borrar">
        <mat-icon>delete</mat-icon>
    </button>
</div>