<section class="permission-section">
    <form class="content-block permission-form" (ngSubmit)="onSubmit()">
        @if(tiposProductos?.length == 0){
            <div class="center sociedades-spinner">
                <app-spinner></app-spinner>
            </div>
        } @else{
            <table>
                <thead>
                    <tr>    
                        <th>Permiso</th>
                        <th>Tipo de Producto</th>
                        
                      </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let tipoProducto of tiposProductos">
                        <td>
                            <!-- Mat-checkbox con NgModule -->
                            <mat-checkbox [(ngModel)]="tipoProducto.tienePermisos" color="primary" name="tipoProducto{{tipoProducto.id}}"></mat-checkbox>
                        </td>
                        <td>{{ tipoProducto.nombre }}</td>
                      </tr>
                    
                </tbody>
            </table>
            <div class="form-footer">
                <button mat-raised-button color="primary">Cambiar permisos</button>
            </div>
        }
        
    </form>
</section>