<section class="permission-section">
    <header class="permission-section-header">
        <h2>Permisos de {{sociedadNombre}}</h2>
        <!-- mat button -->
        <button mat-raised-button color="warn" (click)="offActiveAll()">Desactivar todos</button>
    </header>
    <form class="content-block permission-form" (ngSubmit)="onSubmit()">
        @if(tiposProductos.length == 0){
            <div class="center sociedades-spinner">
                <app-spinner></app-spinner>
            </div>
        } @else{
            <table>
                <thead>
                    <tr>
                        <th class="small-column">Permiso</th>
                        <th>Tipo de Producto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tipoProducto of tiposProductos" [ngClass]="{'has-permission': tipoProducto.tienePermisos}">
                        <td>
                            <!-- Mat-checkbox con NgModule -->
                            <mat-checkbox [(ngModel)]="tipoProducto.tienePermisos" color="primary" name="tipoProducto{{tipoProducto.id}}"></mat-checkbox>
                        </td>
                        <td>{{ tipoProducto.nombre }}</td>
                    </tr>
                </tbody>
            </table>
                
            <div class="form-footer">
                <button mat-raised-button color="primary">Cambiar permisos</button>
            </div>
        }
        
    </form>
</section>